name: CI

on:
  push:
    branches:
    - main
  pull_request:
    paths-ignore:
    - README.md
  schedule:
    # run this every Wednesday at 3 am UTC
  - cron: 0 3 * * 3
  workflow_dispatch:

jobs:
  tests:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - '3.10'
        - '3.14'
        install-args:
        - ''
        - --extra HDF5

        include:
        - os: ubuntu-22.04
          python-version: '3.10'
          install-args: --extra HDF5 --resolution=lowest-direct

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      with:
        python-version: ${{ matrix.python-version }}
        enable-cache: true
        prune-cache: false

    - name: run tests
      run: |
        uv run --group test ${{ matrix.install-args }} \
          pytest --color=yes


  type-check:
    runs-on: ubuntu-latest
    name: type check

    strategy:
      matrix:
        python-version:
        - '3.10'
        - '3.13'

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
      with:
        python-version: ${{ matrix.python-version }}
        enable-cache: true
        prune-cache: false

    - name: Typecheck
      run: |
        uv run --frozen --group typecheck mypy src
